@media only screen and (min-width: 768px){

    nav{
        ul{
            margin: 0;
            float: right;
        }
    }

    header {
        height: 380px;
        padding: 40px;
    }


    h1 {
        width: 100%;
    }

    .card {
        width: 750px;
        display: flex;
    } 
    .img {
        margin: 0;
        width: 200px;
        height: 200px;
    }

    .card-text{
        width: 500px;
        margin-left: 10px;
    }

    main {
        display: flex;
        padding: 10px;
        aside{
            width: 25%;
        }
        article {
            width: 50%;
        }
    }

    footer {
        ul{
            width: 250px;
            margin: 0 auto;
        }
    }

}

@media only screen and (min-width: 1024px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 15px;
        width: 45%;
    }
    .img {
        width: 268px;
        height: 124px;
    }
}